* html,head, body {
    margin: none;
    padding: none;
} 
.isi {
    
   
    width: 720px;
    background-color:#3a3a3a;
}
.container {
    width: 720px;
    display: flex;
    justify-content: center;
    background-color: #3a3a3a;
}
body {
    background-color: #3a3a3a;
}
.judul {
    display: flex;
    justify-content: center;
    color: #FFF;
    text-decoration: wavy;
}
.earlybtn {
    display: flex;
    justify-content: center;
}
.mandiri {
    margin-right: 65px;
    background-color: #fff;
    border: #e90000;
    width: 150px;
    color: #fff;
    padding: 5px;
    height: 290px;
    text-decoration: none;

}
.row {
    background-color: #3a3a3a;
    width: 150px;
    color: #FFF;
    
}
.earlybtn {
    width: 100%;
    background-color: #3a3a3a;
    height: 260px;
    margin-top: 50px;
}
.btnguru {
    height: 130px;
}
.btnmurid {
    height: 130px;
    width: 100%;
}
.blogo {
    display: flex;
}
.blogo2 {
    display: flex;
}
.blogo3 {
    display: flex;
}
.btnmurid1 {
    background-color: #3a303a;
}

   
.jdltbhtkj {
    display: flex;
    justify-content: center;
}

.bach {
    display: flex;
    justify-content: center;
    color: #fff;
}
.penyusunbtn {
    display: flex;
    justify-content: center;
}
.footer {
    background-color: #fff;
    margin-bottom: -20px;
}
.bach2 {
    display: flex;
    justify-content: center;
}